<div class="row">

    <div class="col s3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ myNumber }}</span>
                <button class="waves-effect waves-light btn" (click)="add()">+</button>
                <button class="waves-effect waves-light btn" (click)="rem()">-</button>
            </div>
        </div>
    </div>


</div>


<div class="col s12">
    <ul class="collection">
        <li class="collection-item">click = au clic de la souris</li>
        <li class="collection-item">dblclick = au double clic de la souris</li> 
        <li class="collection-item">submit = a l'envoi du formulaire</li>
        <li class="collection-item">blur = perte du focus de l'élément (form)</li>  
        <li class="collection-item">focus = au focus de l'élement</li> 
        <li class="collection-item">scroll = lors du scroll de l'élement</li>
        <li class="collection-item">cut = lors du ctrl+x</li>
        <li class="collection-item">copy = lors du ctrl+c</li>
        <li class="collection-item">paste = lors du ctrl+v</li>
        <li class="collection-item">keyup = touche du clavier up</li>
        <li class="collection-item">keypress = lors d'un appui sur une touche clavier</li>
        <li class="collection-item">keydown = touche du clavier down</li>
        <li class="collection-item">mouseup = lache le bouton de la souris (sur l'élement)</li>
        <li class="collection-item">mousedown = appuye le bouton de la souris (sur l'élement)</li>
        <li class="collection-item">mouseenter = la souris rentre dans l'élément</li>
        <li class="collection-item">drag = lors de la sélection de l'élement pour le déplacer</li>
        <li class="collection-item">drop = lors du relachement de ce même élement</li>
        <li class="collection-item">dragover = lors du déplacement de cet élement (toute les 100ms)</li>
    </ul>
</div>